# Datadog API key (org-level). Header: DD-API-KEY
DD_API_KEY=
# Datadog Application key. Header: DD-APPLICATION-KEY
# OBRIGATÓRIO: criar com scopes SOMENTE LEITURA e sob service account com role "Datadog Read Only".
# Scopes necessários: timeseries_query, metrics_read, monitors_read, events_read,
#                     logs_read_data, logs_read_index_data, apm_read
DD_APP_KEY=
# Site Datadog. Ex.: datadoghq.com | datadoghq.eu | us3.datadoghq.com | us5.datadoghq.com | ddog-gov.com | ap1.datadoghq.com
DD_SITE=datadoghq.com
# Opcionais
DD_LOG_LEVEL=error
DD_REQUEST_TIMEOUT_MS=30000
DD_MAX_RETRIES=3
DD_MAX_CONCURRENCY=4
